<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>SHOPTOONS</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href={{ url_for('static', filename='images/favicon.ico') }} type="image/x-icon">
    <link rel="apple-touch-icon" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }} />
    <!-- Site CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/responsive.css') }} />
    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/custom.css') }} />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<head>
<title>Welcome to Seller Dashboard</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
		<div class="container">
			<!-- Start Header Navigation -->
			<div class="navbar-header">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="seller"><img src={{ url_for('static', filename='images/bl.png') }} alt="" style="width:200px;padding-right:-20px;border-radius: 20px;"></a>
            </div>
			<!-- End Header Navigation -->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-menu">
				<ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
					<li class="nav-item active"><a class="nav-link" href="index.html">Seller Dashboard</a></li>
					<li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
					<li class="nav-item "><a class="nav-link" href="/add">Add an Item</a></li>
										   <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
										   <li class="nav-item"><a class="nav-link" href="/remove">Your Products</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->

			<!-- Start Atribute Navigation 
			<div class="attr-nav">
				<ul>
					<li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
					<li class="side-menu"><a href="#">
					<i class="fa fa-shopping-bag"></i>
						<span class="badge">3</span>
				</a></li>
				</ul>
			</div>   -->
			{% if not loggedIn %}
			<div class="attr-nav">
				<ul><div id="signInButton">
				<a class="link" href="/sellerloginForm"><b>Sign In</b></a>
			</div></ul>
			{% else %}
			<div class="dropdown">
	    	<button class="btn hvr-hover" style="color: white;" onclick="window.location.href='/account/profile'"><b>Hello, {{firstName}}</b></button>
		<!-- <div class="dropdown-content">
			<a href="/account/orders">Orders</a>
			<a href="/account/profile">Settings</a>  -->
			
			
		</div>
	</div>
	<ul>		<a href="/logout"><b>Sign Out</b></a></ul>
</div>
	{% endif %}
			</nav>
			
<!-- <div id="title">

	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>
	


	
	<div id="kart">
		<a class="link"  href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
			CART {{noOfItems}}
		</a>
	</div>
</div>
-->	

<div class="image-wrap">
  <div class="img-content">
      <img src="https://useractivitylog.solwininfotech.com/wp-content/uploads/2016/09/Banner-bg-1-2.jpg" alt="">
  </div>
  <div class="overlay"></div>
</div>
<div class="banner-content">
  <h1 style="font-family: 'Oswald', sans-serif; color: white;">START SELLING TO MILLIONS OF BUYERS ACROSS THE WORLD ON INDIA'S LARGEST MERCHANDISE ONLINE SHOP</h1>
  <div class="banner-btn">
      <a style=" font-family: 'Montserrat', sans-serif;" href="/remove" class="ban-btn btn-red">VIEW YOUR MERCH</a>
      <a style=" font-family: 'Montserrat', sans-serif;" href="/add" class="ban-btn btn-green">SELL YOUR MERCH</a>

  </div>
</div>
<style>


.image-wrap {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow-x: hidden;
        }

        .banner-content {
            position: absolute;
            z-index: 99999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            text-align: center;
            font-size: 1.5em;
            color: #fff;
            line-height: 1.5;
        }

        .img-content img {
            width: 100%;
            height: 100vh;
            display: block;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: #000000da;
            opacity: 10;
            z-index: 999;
            height: 100%;
        }

        .ban-btn {
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 4px;
            margin: 10px 10px;
        }

        .btn-red {
            background-color: rgb(110, 109, 109);
        }

        .btn-green {
            background-color: #4CAF50;
        }
</style>

    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About Shoptoons</h4>
                            <p>Shoptoons is a online webseries, Anime merchandise. Here you can get your own customized stuff, We create stunning designs and print them on all sorts of equally stunning products- from t-shirts to phone covers to backpacks to boxers to mugs to socks to badges to pins to hoodies and many, many more!
                                </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Our Sitemap</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Delivery Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Sector 15, Seawoods,<br>Navi Mumbai<br> Pincode - 400706 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+91-888 705 1770</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:shoptoons@gmail.com">shoptoons@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2021 <a href="#">Shoptoons</a> Design By :
            <a href="https://github.com/Jotaro2401/shoptoons">ATHARVA, ANTARA, JANVI & SIDDHANTA</a></p>
    </div>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>