<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <link rel = "icon" href={{ url_for('static', filename='images/logo.jpg') }}
        type = "image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>SHOPTOONS</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    
    <link rel="apple-touch-icon" href={{ url_for('static', filename='images/apple-touch-icon.png') }}>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/boot.css') }} />
    <!-- Site CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/responsive.css') }} />
    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/custom.css') }} />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Now Man
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Fashion
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT20
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="our-link">
                        <ul>
                            <li><a href="decider">
                    {% if not loggedIn %}
                        My account
                        </a>
                    {% else %}
                        <a href="account/profile">Hello &nbsp {{firstName}} &nbsp </a>
                        </div>
                    {% endif %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="webseries"><img src={{ url_for('static', filename='images/bl.png') }} alt="" style="width:350px;padding-right:-20px;border-radius: 20px;"></a>
            </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="http://127.0.0.1:5000/">Main</a></li>
                        <li class="nav-item"><a class="nav-link" href="aboutus">About Us</a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="http://localhost/contact/index.php">Contact Us</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search" style="position: relative;left: -30px;top: -4px;"><a href="#"><i class="fa fa-search"></i></a></li>
                        
						<a style="color: #777777;  color: black;  font-size: 18px; position: relative;
                        z-index: 100;top:22px;" href='/cart1' id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">{{noOfItems}}</span></a>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->

            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

   <!-- Start Top Search -->
   <div class="top-search" style="position: relative;z-index: 1;">
    <div class="container">
        <div class="input-group">
            <form action="/searchweb" method="POST">
            <a href="searchweb" type="submit" value="searchweb"><span style="position: relative;top: 40px;left: -50px;;" class="input-group-addon"><i class="fa fa-search"></i></span></a>
            <input type="text" class="form-control" placeholder="Search" name="sname">
            <span style="position: relative;left: 1100px;top: -50px;" class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </form>
        </div>
    </div>
</div>
<!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-left">
                <img  src="{{ url_for('static', filename='images/new2.jpg') }}" style="width: 100px;height: 10vh;padding: top 10px;"  alt="" >
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> SHOPTOONS</strong></h1>
                            <p class="m-b-40">Shop for your favorite<br><strong>WEBSERIES</strong></p>
                            <p><a class="btn hvr-hover" href="#">SPIDERMAN</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{{ url_for('static', filename='images/new.jpg') }}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> SHOPTOONS</strong></h1>
                            <p class="m-b-40">Shop for your favorite<br><strong>WEBSERIES</strong></p>
                            <p><a class="btn hvr-hover" href="#">JUSTICE LEAGUE</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-right">
                <img src="{{ url_for('static', filename='images/bttt.jpg') }}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> SHOPTOONS</strong></h1>
                            <p class="m-b-40">Shop for your favorite<br><strong>WEBSERIES</strong></p>
                            <p><a class="btn hvr-hover" href="#">BIG BANG THEORY</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="https://i.etsystatic.com/11126566/r/il/e3118d/1913659144/il_570xN.1913659144_boyv.jpg" alt="" />
                        <a class="btn hvr-hover" href="webtshirt">T-shirts</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="http://cdn.shopify.com/s/files/1/0031/3769/9955/products/de1_611c4156-517f-4129-9877-2a9d75df58d7_1200x1200.jpg" alt="" />
                        <a class="btn hvr-hover" href="webhoodie">Hoodies</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="https://m.media-amazon.com/images/I/41t2Wz63CVL.jpg" alt="" />
                        <a class="btn hvr-hover" href="webcosplay">Cosplay</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="http://cdn.shopify.com/s/files/1/1305/2183/products/Harry_Potter_Characters_Keychain_12_1200x1200.jpg?v=1579888885" alt="" />
                        <a class="btn hvr-hover" href="webkeychain">Keychain</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="https://realinfinitywar.com/wp-content/uploads/2018/07/iron_man_backpack_si_kthaC.jpg" alt="" / style="height: 350px;">
                        <a class="btn hvr-hover" href="webbag">Bags</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="https://mockupgenerator.ap-south-1.linodeobjects.com/Mockups/Kitchenzshop/3b2d4053-c792-4472-95d6-a982fc26723a-mug-front-white.jpg" alt="" / style="height: 350px;">
                        <a class="btn hvr-hover" href="webmug">Mugs</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="https://m.media-amazon.com/images/I/71jBzMV98LL.jpg" alt="" />
                        <a class="btn hvr-hover" href="webposter">Posters</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="https://m.media-amazon.com/images/I/61cyB+oN66S._AC_SS450_.jpg" alt="" / style="height: 350px;">
                        <a class="btn hvr-hover" href="websticker">Stickers</a>
                    </div>
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSavUy-1B7f_Azyts6thOopOWQY2zvWXjU71k6F1JUHzS_yJWJneRuxtc-Xf7IXvSsd9l4&usqp=CAU" alt="" />
                        <a class="btn hvr-hover" href="webmask">Masks</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Featured Products</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Top featured</button>
                            <button data-filter=".best-seller">Best seller</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <a href="productDescription?productId=22">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img style="height: 250px;" src={{ url_for('static', filename='images/avenger.jpeg') }} class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Avengers Stickers</h4>
                            <h5>$10</h5>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <a href="productDescription?productId=23">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new">New</p>
                            </div>
                            <img style="height: 250px;" src={{ url_for('static', filename='images/friends.jpeg') }} class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Friends Central Perk Mug</h4>
                            <h5> $14.79</h5>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <a href="http://127.0.0.1:5000/productDescription?productId=28">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img style="height: 230px;" src={{ url_for('static', filename='images/harry.jpeg') }} class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>Harry Potter Movie Poster T-Shirt</h4>
                            <h5> $7.79</h5>
                        </div>
                    </div>
                    </a>
                </div>


                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <a href="http://127.0.0.1:5000/productDescription?productId=29">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src={{ url_for('static', filename='images/ahs.jpeg') }} class="img-fluid" alt="Image">
                        </div>
                        <div class="why-text">
                            <h4>AHS bag</h4>
                            <h5>$52.79</h5>
                        </div>
                    </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Products  -->

    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>About ThewayShop</h4>
                            <p>Shoptoons is a online webseries, Anime merchandise. Here you can get your own customized stuff, We create stunning designs and print them on all sorts of equally stunning products- from t-shirts to phone covers to backpacks to boxers to mugs to socks to badges to pins to hoodies and many, many more!
                                </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="http://localhost/contact/index.php">Contact Us</a></li>
                                <li><a href="/aboutus">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Sector 15, Seawoods,<br>Navi Mumbai<br> Pincode - 400706 </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+91-888 705 1770</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:shoptoons@gmail.com">shoptoons@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

   <!-- Start copyright  -->
   <div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2021 <a href="#">Shoptoons</a> Design By :
        <a href="https://github.com/Jotaro2401/shoptoons">ATHARVA, ANTARA, JANVI & SIDDHANTA</a></p>
</div>
<!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <!-- ALL PLUGINS -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.superslides.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/inewsticker.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/bootsnav.js.') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/images-loded.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/isotope.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/baguetteBox.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/form-validator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/contact-form-script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/custom.js') }}"></script>
</body>

</html>